
  <div class="iq-card">
    <div class="iq-card-body">
      <div class="iq-todo-page">
        <form class="position-relative">
          <div class="form-group mb-0">
            <input type="text" class="form-control todo-search"
                   name="searchInput" [(ngModel)]="searchProject.name"
                   placeholder="Search">
            <a class="search-link" href="#"><i class="ri-search-line"></i></a>
          </div>
        </form>
        <div class="add-new-project mt-3 mb-3">
          <a href="javascript:void(0);" class="d-block nrw-project" (click)="openModal(projectAdd)">
            <i class="ri-add-line mr-2"></i>Add Project
          </a>
        </div>
        <ul class="todo-task-list p-0 m-0">
          <li *ngFor="let project of projects | searchFilter:searchProject; let projectIndex=index;">
            <a href="javascript:void(0);" (click)="clickProject(project)">
              <i class="ri-stack-fill mr-2"></i> {{project.name}}
            </a>
            <ul id="todo-task1" class="sub-task {{ selectedProject === projectIndex ? 'show' : '' }} mt-2 p-0">
              <li *ngFor="let category of categories; let categoryIndex=index;"
                  [ngClass]="(selectedCategory === categoryIndex ? 'active' : '')"
                  (click)="clickCategory(category)">
                <a href="javascript:void(0);">
                  <i [ngClass]="'ri-checkbox-blank-circle-fill' + ' text-'+category.color"></i>
                  {{ category.name }}
                  <span [ngClass]="'badge ml-2 float-right' + ' badge-'+category.color" *ngIf="category.taskNewCount">
                    {{category.taskNewCount}}
                  </span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ng-template #projectAdd let-c="close" let-d="dismiss">
    <form #projectForm="ngForm" (ngSubmit)="projectForm.form.valid && saveProject(projectForm)" novalidate>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Project</h4>
        <button type="button" class="float-right close" modal-close aria-label="Close" (click)="modalRef.hide()">
          <i class="ri-close-fill"></i>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" name="name"
               [(ngModel)]="project.name" #name="ngModel"
               [ngClass]="{ 'is-invalid': projectForm.submitted && name.invalid }"
                placeholder="Enter the project name" class="rounded form-control" required />
        <div class="invalid-feedback">
          <span>Project is required.</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary float-right">Save</button>
      </div>
    </form>
  </ng-template>
