<!-- Sidebar [START] -->
<div class="iq-sidebar">
  <div class="iq-sidebar-logo d-flex justify-content-between">
    <a routerLink="/">
      <!--<img src="assets/images/logo.png" class="img-fluid" alt="">-->
      <span>LoanHouse</span>
    </a>
    <div class="iq-menu-bt-sidebar">
      <div class="iq-menu-bt align-self-center">
        <div class="wrapper-menu" (click)="miniMenu()">
          <div class="main-circle"><i class="ri-arrow-left-s-line"></i></div>
          <div class="hover-circle"><i class="ri-arrow-right-s-line"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div id="sidebar-scrollbar">
    <nav class="iq-sidebar-menu">
      <app-list-style1 [listItems]="menuItems" [collapseOpen]="true" id="iq-sidebar-toggle"></app-list-style1>
    </nav>
    <div class="p-3"></div>
  </div>
</div>
<!-- Sidebar [END] -->
