<div class="row">
  <div class="col-sm-12">
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">User List</h4>
      </div>
      <div card-header class="iq-header-title">
        <button class="btn btn-primary" [routerLink]="['/add-user']" type="submit">Add New User</button>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ag-grid-angular
            class="ag-theme-material border height-500"
            [rowData]="rowData | async"
            [columnDefs]="columnDefs"
            [floatingFilter]=true
            [frameworkComponents]="frameworkComponents"
            rowSelection="multiple"
          >
          </ag-grid-angular>
        </div>
      </div>
    </app-iq-card>
  </div>
</div>
