<form class="mt-4" #signUpForm="ngForm" (ngSubmit)="signUpForm.form.valid && onSubmit(signUpForm)" novalidate>
  <div class="form-group">
    <label>Your Full Name</label>
    <input type="text" class="form-control mb-0"
           name="name" [(ngModel)]="user.name" required
           #name="ngModel"
           [ngClass]="{ 'is-invalid': signUpForm.submitted && name.invalid }"
           placeholder="Your Full Name" />
    <div class="invalid-feedback">
      <span>Full name is required.</span>
    </div>
  </div>
  <div class="form-group">
    <label>Email address</label>
    <input type="email" class="form-control mb-0"
           name="email" [(ngModel)]="user.email" required
           #email="ngModel"
           [ngClass]="{ 'is-invalid': signUpForm.submitted && email.invalid }"
           placeholder="Enter email" />
    <div class="invalid-feedback">
      <span>Email is required.</span>
    </div>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control mb-0"
           name="password" [(ngModel)]="user.password" required
           #password="ngModel"
           [ngClass]="{ 'is-invalid': signUpForm.submitted && password.invalid }"
           placeholder="Password" />
    <div class="invalid-feedback">
      <span>Password is required.</span>
    </div>
  </div>
  <div class="d-inline-block w-100">
    <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
      <input type="checkbox" class="custom-control-input" id="customCheck1">
      <label class="custom-control-label" for="customCheck1">I accept <a href="javascript:void(0);">Terms and Conditions</a></label>
    </div>
    <button type="submit" class="btn btn-primary float-right">Sign Up</button>
  </div>
  <div class="sign-info">
    <span class="dark-color d-inline-block line-height-2">
      Already Have Account ? <a [routerLink]="['/auth/sign-in']">Sign In</a>
    </span>
    <app-social-form></app-social-form>
  </div>
</form>
