
  <div class="row">
    <div class="col-sm-12">
      <div class="iq-card">
        <div class="iq-card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="todo-date d-flex mr-3">
              <i [ngClass]="'ri-calendar-2-line mr-2' + ' text-'+category.color"></i>
              <span>{{project.name}}</span>
            </div>
            <div class="todo-notification d-flex align-items-center">
              <div class="notification-icon position-relative d-flex align-items-center mr-3" *ngIf="category.taskNewCount">
                <a href="#"><i class="ri-notification-3-line font-size-16"></i></a>
                <span class="bg-danger text-white">{{category.taskNewCount}}</span>
              </div>
              <button type="button" class="btn iq-bg-primary iq-waves-effect btn-lg" (click)="openModal(taskAdd)">Add Task</button>
            </div>
          </div>
        </div>
      </div>
      <div class="iq-card ">
        <form class="position-relative">
          <div role="group" class="form-group mb-0">
            <div class="bv-no-focus-ring">
              <input type="text" placeholder="Search" name="todoTaskSearch" [(ngModel)]="searchTask.title" class="todo-search bg-white form-control">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-12">
      <div class="iq-card">
        <div class="iq-card-body p-0">
          <ul class="todo-task-lists m-0 p-0">
            <li *ngFor="let task of tasks | searchFilter: searchTask; let taskIndex=index;" [ngClass]="'d-flex align-items-center p-3 '+(task.status ? '' : 'active-task')">
              <div class="user-img img-fluid">
                <img [src]="getUser(task.userId, 'image')" alt="story-img" class="rounded-circle avatar-40"></div>
                <div class="media-support-info ml-3">
                  <h6 class="d-inline-block">
                    <del *ngIf="!task.status">
                      {{ task.title }} for {{ project.name }}
                    </del>
                    <span *ngIf="task.status">
                      {{ task.title }} for {{ project.name }}
                    </span>
                  </h6>
                  <span class="badge badge-danger ml-3 text-white" *ngIf="task.priority === 'Expiring'">{{ task.priority }}</span>
                  <span class="badge badge-primary ml-3 text-white" *ngIf="task.priority === 'Ending'">{{ task.priority }}</span>
                  <span class="badge badge-info ml-3 text-white" *ngIf="task.priority === 'Urgent'">{{ task.priority }}</span>
                  <span class="badge badge-primary ml-3 text-white" *ngIf="task.priority === 'Complete'">{{ task.priority }}</span>
                  <p class="mb-0">by {{ getUser(task.userId, 'name') }}</p>
                </div>
                <div class="iq-card-header-toolbar d-flex align-items-center">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="todoCheck" class="custom-control-input" [id]="taskIndex" [checked]="!task.status" (click)="clickTask(task)" />
                    <label class="custom-control-label" [for]="taskIndex"></label>
                  </div>
                </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <ng-template #taskAdd let-c="close" let-d="dismiss">
    <form #taskForm="ngForm" (ngSubmit)="taskForm.form.valid && saveTask(taskForm)" novalidate>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Task</h4>
        <button type="button" class="float-right close" modal-close aria-label="Close" (click)="modalRef.hide()">
          <i class="ri-close-fill"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Task Title <span class="text-danger">*</span></label>
          <input type="hidden" name="projectId" [(ngModel)]="selectedTask.projectId" />
          <input type="text" name="title"
                 [(ngModel)]="selectedTask.title" #title="ngModel"
                 [ngClass]="{ 'is-invalid': taskForm.submitted && title.invalid }"
                 placeholder="Enter the project name" class="rounded form-control" required />
          <div class="invalid-feedback">
            <span>Task title is required.</span>
          </div>
        </div>
        <div class="form-group">
          <label class="d-block">Assigned to <span class="text-danger">*</span></label>
          <ng-select class="ng-select2" [items]="taskUsers" [(ngModel)]="selectedTask.userId" bindValue="value" name="userId"></ng-select>
        </div>
        <div class="form-group">
          <label class="d-block">Category <span class="text-danger">*</span></label>
          <ng-select class="ng-select2" [items]="categories" [(ngModel)]="selectedTask.categoryId" bindValue="value" name="categoryId"></ng-select>
        </div>
        <div class="form-group">
          <label class="d-block">Priority <span class="text-danger">*</span></label>
          <div class="custom-control custom-control-inline custom-radio"
               *ngFor="let priority of priorities; let priorityIndex=index">
            <input type="radio" name="priority" class="custom-control-input" [value]="priority"
                   [(ngModel)]="selectedTask.priority" [id]="'radio_'+priorityIndex" />
            <label class="custom-control-label" [for]="'radio_'+priorityIndex">{{priority}}</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn iq-bg-primary btn-none">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </ng-template>

